---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

changeLanguage("de");

export async function getStaticPaths() {
    const blogEntries = await getCollection("blog");
    return blogEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry }
    }));
}
// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
const socialImage = {
    url: new URL(`/assets/blog/pictures/${entry.data.socialImage.filename}`, Astro.url),
    alt: entry.data.socialImage.alt
};
---

<Layout
	title={entry.data.title}
	description={entry.data.description}
	{socialImage}
	ogType="article"
>
	<main class="blog-post site-padding-x pt-space-fl-xl-m">
		<article>
			<hgroup>
				<h1>
					{entry.data.title}
				</h1>
				<p class="text-fl-lg">{entry.data.subheading}</p>
			</hgroup>
			<Content />
		</article>
	</main>
</Layout>
