---
import { changeLanguage } from 'i18next'
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import { formatDateObjToCustom } from 'utils'
interface Props {
	post: CollectionEntry<'blog'>
}

changeLanguage('en')

export async function getStaticPaths() {
	const blogPosts = await getCollection('blog')
	return blogPosts.map((post) => ({
		params: { slug: post.slug },
		props: { post }
	}))
}
// 2. When it's time to render, you can get the post directly from the prop
const { post } = Astro.props
const { Content } = await post.render()
const socialImage = {
	url: new URL(
		`/assets/blog/${post.data.socialImage.filename}`,
		Astro.site
	),
	alt: post.data.socialImage.alt
}
---

<Layout
	title={post.data.title}
	description={post.data.description}
	{socialImage}
	ogType="article"
>
	<main class="blog-post site-padding-x pt-space-fl-xl-m">
		<article>
			<hgroup>
				{
					post.data.series && (
						<p class="series">
							Part {post.data.part} of the series{' '}
							<span class="font-bold"> {post.data.series} </span>
						</p>
					)
				}
				<h1>
					{post.data.title}
				</h1>
				<p class="text-fl-lg">{post.data.description}</p>
				<hr />
				<p class="text-fl-sm font-extralight">
					{formatDateObjToCustom(post.data.pubDate)}
				</p>
				<hr />
			</hgroup>
			<Content />
		</article>
	</main>
</Layout>
