---
import ToggleTheme from '@components/ui/ToggleTheme.astro'
import { Astronav, MenuIcon, MenuItems } from 'astro-navbar'
import { LanguageSelector } from 'astro-i18next/components'
import i18next from 'i18next'
import ContactButton from './ui/ContactButton.astro'

const menuitems = [
	{
		title: 'About',
		path: '#hero'
	},
	{
		title: 'Projects',
		path: '#projects'
	},
	{
		title: 'CV',
		path: `locales/${i18next.language}/cv.pdf`,
		attributes: {
			type: 'application/pdf',
			rel: 'author',
			hreflang: `${i18next.language}`
		}
	}
]
---

<header
	data-testId="header"
	class="flex flex-col items-baseline justify-between lg:flex-row"
>
	<Astronav>
		<div class="flex w-full items-baseline justify-between lg:w-auto">
			<a href="/" class="logo"
				><span class="text-zinc-500">Tom Szwaja</span></a
			>
			<div class="block lg:hidden">
				<MenuIcon class="h-4 w-4 text-black dark:text-light" />
			</div>
		</div>
		<MenuItems class="hidden w-full lg:flex lg:w-auto">
			<ul class="flex flex-col items-baseline lg:flex-row lg:gap-3">
				{
					menuitems.map((item) => (
						<>
							<li>
								<a
									aria-label="navigation link"
									{...(item.attributes || {})}
									href={item.path}
									class="flex py-2 text-black hover:text-accent dark:text-light dark:hover:text-accent lg:px-3"
								>
									{item.title}
								</a>
							</li>
						</>
					))
				}
				<!-- <li class="py-2">
					<LanguageSelector showFlag={true} class="my-select-class" />
				</li> -->

				<li>
					<ContactButton />
				</li>
			</ul>
		</MenuItems>
	</Astronav>
</header>
