---
import { getLangFromUrl, useTranslations } from '../../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

interface Props {
	description: string
	skill_tags: string[]
	tech_tags: string[]
	repoURL: string
	projectTitle: number
}

const { description, skill_tags, tech_tags, repoURL, projectTitle } =
	Astro.props
---

<div
	id={`overlay-${projectTitle}`}
	class="invisible absolute inset-0 z-10 flex flex-col justify-between rounded-xs bg-papery-surface p-space-fl-s-m opacity-0 transition-all duration-300"
>
	<div
		class="tags grid max-w-full gap-space-fl-m overflow-clip text-fl-sm text-papery-lighter-text"
	>
		<div class="flex flex-wrap gap-space-fl-m">
			{skill_tags.map((skill) => <span>{skill}</span>)}
		</div>
		<div class="flex flex-wrap gap-space-fl-m font-monospace">
			{tech_tags.map((tech) => <span>{tech}</span>)}
		</div>
	</div>
	<p>
		{description}
	</p>
	{
		/* padding in the link below is the same as that of 'Details" button in ProjectCard*/
	}
	<a
		class="py-space-fl-xs"
		href={repoURL}
		aria-label="Link to repo"
		target="_blank"
	>
		{t('projects.card.link-in-overlay')}
	</a>
</div>
