---
import { t } from 'i18next'

interface Props {
	description: string
	skill_tags: string[]
	tech_tags: string[]
	repoURL: string
	projectTitle: number
}

const { description, skill_tags, tech_tags, repoURL, projectTitle } =
	Astro.props
---

<div
	id={`overlay-${projectTitle}`}
	class="invisible absolute inset-0 z-10 flex flex-col items-start justify-between rounded-sm bg-light p-4 opacity-0 transition-all duration-300"
>
	<div class="grid gap-2 text-fl-sm text-zinc-500">
		<div class="flex gap-8">
			{skill_tags.map((skill) => <span>{skill}</span>)}
		</div>
		<div class="flex gap-8 font-monospace">
			{tech_tags.map((tech) => <span>{tech}</span>)}
		</div>
	</div>
	<p>
		{description}
	</p>
	<a href={repoURL} aria-label="Link to repo" target="_blank">
		{t('home.projects.card.link-in-overlay')}
	</a>
</div>
